# Specify filepatterns you want git to ignore.
build
generation/__pycache__
python/__pycache__
meson.build.user
.cache
cpp/build
military_symbol/__pycache__
__pycache__
meson.build.user*
test
python/test
python/dist
*.svg